// Override default variables before the import
$body-bg: rgb(248, 249, 251);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$apostroph-color: rgb(0, 80, 160);

$navbar-bg: rgb(255, 255, 255);

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.language-selector {
  .dropdown-menu {
    right: 0;
    left: unset;
  }
}

.home-jumbotron {
  background-color: $apostroph-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $navbar-bg;
}

.nav-vertical {
  background: $navbar-bg !important;
}

.bg-light {
  background: $navbar-bg !important;
  border-bottom: 1px solid $apostroph-color;
}

.navbar-light .navbar-brand {
  color: $apostroph-color;
}

.navbar-light .navbar-nav .nav-link {
  color: #646464;
}
