// Override default variables before the import
$body-bg: rgb(248, 249, 251);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';



$apostroph-color: rgb(0, 80, 160);

$navbar-bg: rgb(255, 255, 255);

:root {
  --apostroph-color: rgb(0, 80, 160);
}

body {
  font-family: effra, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.language-selector {
  .dropdown-menu {
    right: 0;
    left: unset;
  }
}

.home-jumbotron {
  background-color: $apostroph-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $navbar-bg;

  h1 {
    font-weight: 600;
  }
}

.nav-vertical {
  background: $navbar-bg !important;
}

.bg-light {
  background: $navbar-bg !important;
  //border-bottom: 1px solid $apostroph-color;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
}

.navbar-light .navbar-brand {
  color: $apostroph-color;
}

.navbar-light .navbar-nav .nav-link {
  color: #646464;
}

.main {
  //margin-top: 40px;
  //margin-bottom: 40px;
}

.doc-content {
  img {
    display: block;
    margin: auto;
    max-width: 100%;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.10);
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;

    th {
      font-weight: 600;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
    }

    tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
  }

  @for $index from 1 through 6 {
    h#{$index}{
      margin-top: 1.5em;

      svg {
        cursor: pointer;
      }
      svg:hover {
        color: $apostroph-color;
      }
    }

    h#{$index}::before {
      display: block;
      content: " ";
      margin-top: -70px;
      height: 70px;
      visibility: hidden;
      pointer-events: none;
    }
  }

}
